<h1>All Artist Of <%= @genre.genre_name %> </h1>

<% @genre.artists.each do |a| %>
<h3><%= link_to a.name, artist_albums_path(a.id) %></h3>
<% end %>

<%= link_to 'Add an artist', new_genre_artist_path(@genre_id) %>
<br>
<%= link_to 'Home', root_path %>
