<h1>Please add artist info</h1>

<%= simple_form_for @artist do |f| %>
  <%= f.input :name %>
    <% @genres.each do |g| %>
    <% end %>
    <%= f.association :genre %>
  <%= f.button :submit %>
<% end %>
