<h1>All Songs of This Album</h1>

<% @album.songs.each do |s| %>
  <ul>
    <li> <%= s.title %></li>
  </ul>
<%end %>

<%= link_to 'Post Songs', new_album_song_path(@album.id) %> <br>
<%= link_to 'Home', root_path %>
