<h1>Post Album</h1>

<%= simple_form_for [@artist, @album] do |a| %>
  <%= a.input :title %>
  <%= a.input :genre_id, :as => :hidden, :input_html => {:genre_id => :@genre_id} %>
  <%= a.button :submit %>
<% end %>
