<h1>All of the Reviews</h1>

<% @album.reviews.each do |r| %>
  <ul>
    <li> <%= r.content %></li>
  </ul>
<%end %>

<%= link_to 'Post Review', new_album_review_path(@album.id) %> <br>
<%= link_to 'Home', root_path %>
